[submodule "Firefly/vendor/spdlog"]
	path = Firefly/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Firefly/vendor/GLFW"]
	path = Firefly/vendor/GLFW
	url = https://github.com/glfw/glfw
