# Binaries
**/bin/
bin-int/

# CMake
cmake-build-*/

# Firefly files
# *.log

# IDE files and folder
.vs/
.vscode/
.idea/

# Profile data
**/FireflyProfile-*.json

# IMGUI runtime settings
**/imgui.ini

# VS project setting files, should be generate by premake with generateProject.bat script.
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
